



body{
  margin:0;
  font-family: serif;
  background-color: #F8F8FE;
  width:100%;
  max-width: 100%;
  overflow-x: hidden;
  min-width: 320px;
}

.title{
  color:white;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

header{
  position: fixed;
  top:0;
  width:100%;
  z-index: 1000;
  opacity: 0.8;
  height:30px;
}


.navi{
  display: flex;
  background-color:black;
  opacity: 0.6;
  margin: 0;
  width:100%;
  height:100%;
}

.navi p{
  padding-top: 10px;
  height:100%;
  width:5%;
  margin-right:1.345%;
  margin-left:1.345%;
  text-align: center;
  list-style: none;
  line-height: 30px;
}

.fa-2x{
  color:white;
}

.navi p:hover{
  opacity: 0.6;
  transition: 1s;
}

.menun {
  display: none;
  max-width: 800px;
  width:100%;
}

.menun a {
  display: block;
  font-size: 13px;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

label {
  display: block;
  margin: 0 0 4px 0;
  padding : 15px;
  line-height: 1;
  color :#fff;
  border-radius: 0px;
  background: #4c4d4d;
  box-shadow:  5px 5px 7px #1e1f1f,
               -5px -5px 7px #7a7b7b;
  cursor :pointer;
}

input {
  display: none;
}

.menun ul {
  margin: 0;
  padding: 0;
  background :#f4f4f4;
  list-style: none;
}

.menun li {
  margin:0 10px;
  padding-left: 10px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

#menu_bar01:checked ~ #links01 li{
  height: 40px;
  opacity: 1;
  font-size: 12px;
  font-weight: normal;
}


#links01 li:hover{
  border-radius: 5px;
  background: #b9bbbb;
  box-shadow: inset 5px 5px 7px #4a4b4b,
              inset -5px -5px 7px #ffffff;
}

span{
  color:red;
}

.top-wrapper{
  background-image: url(https://pbs.twimg.com/media/EctQEWAWoAgHLPJ?format=jpg&name=large);
  background-size: cover;
  text-align: center;
  color:white;
}

.top-wrapper h1{
  background-color:black;
  opacity:0.6;
  padding-top: 200px;
  margin:0;
  font-size: 100px
}

.top-wrapper p{
  background-color:black;
  opacity: 0.6;
  padding-top: 10px;
  padding-bottom: 200px;
  margin-top: 0;
}

.menu{
  text-align: center;
}

.ul{
  display: flex;
  flex-wrap: wrap;
  padding:0;
  margin-top: 15px;
  margin-bottom: 0;
}

.li{
  list-style: none;
  width:18%;
  height:40px;
  line-height: 40px;
  margin-right:1%;
  margin-left: 1%;
  opacity:0.7;
  margin-bottom: 15px;
  border-radius: 3px;
  font-weight: bold;
}

li a{
  color:black;
}
.a{
  text-decoration: none;
  display: inline-block;
  width:100%;
  height:100%;
}

.blue{
  background: #e8b0f7;
  box-shadow:  5px 5px 5px #b78bc3,
               -5px -5px 5px #ffd5ff;
}
.blue:hover{
  border-radius: 2px;
  background: #e8b0f7;
  box-shadow: inset 5px 5px 5px #b78bc3,
              inset -5px -5px 5px #ffd5ff;
}
.pur{
  background: #fdd3f7;
  box-shadow:  5px 5px 5px #c8a7c3,
               -5px -5px 5px #ffffff;
}
.pur:hover{
  background: #fdd3f7;
  box-shadow: inset 5px 5px 5px #c8a7c3,
              inset -5px -5px 5px #ffffff;
}
.pink{
  background: #f5a3b8;
  box-shadow:  5px 5px 5px #c28191,
               -5px -5px 5px #ffc5df;
}
.pink:hover{
  background: #f5a3b8;
  box-shadow: inset 5px 5px 5px #c28191,
              inset -5px -5px 5px #ffc5df;
}
.redi{
  background: #a2f1fb;
  box-shadow:  5px 5px 5px #80bec6,
               -5px -5px 5px #c4ffff;
}
.redi:hover{
  background: #a2f1fb;
  box-shadow: inset 5px 5px 5px #80bec6,
              inset -5px -5px 5px #c4ffff;
}
.cherry{
  background: #abf7de;
  box-shadow:  5px 5px 5px #87c3af,
               -5px -5px 5px #cfffff;
}
.cherry:hover{
  background: #abf7de;
  box-shadow: inset 5px 5px 5px #87c3af,
              inset -5px -5px 5px #cfffff;
}
.red{
  background: #fdb4c1;
  box-shadow:  5px 5px 5px #c88e98,
               -5px -5px 5px #ffdaea;
}
.red:hover{
  background: #fdb4c1;
  box-shadow: inset 5px 5px 5px #c88e98,
              inset -5px -5px 5px #ffdaea;
}
.orenge{
  background: #f5d1ff;
  box-shadow:  5px 5px 5px #c2a5c9,
               -5px -5px 5px #fffdff;
}
.orenge:hover{
  background: #f5d1ff;
  box-shadow: inset 5px 5px 5px #c2a5c9,
              inset -5px -5px 5px #fffdff;
}
.pi{
  background: #fab8f1;
  box-shadow:  5px 5px 5px #c691be,
               -5px -5px 5px #ffdfff;
}
.pi:hover{
  background: #fab8f1;
  box-shadow: inset 5px 5px 5px #c691be,
              inset -5px -5px 5px #ffdfff;
}
.yellow{
  background: #f9e5ff;
  box-shadow:  5px 5px 5px #c5b5c9,
               -5px -5px 5px #ffffff;
}
.yellow:hover{
  background: #f9e5ff;
  box-shadow: inset 5px 5px 5px #c5b5c9,
              inset -5px -5px 5px #ffffff;
}
.ye{
  background: #ffdbe4;
  box-shadow:  5px 5px 5px #c9adb4,
               -5px -5px 5px #ffffff;
}
.ye:hover{
  background: #ffdbe4;
  box-shadow: inset 5px 5px 5px #c9adb4,
              inset -5px -5px 5px #ffffff;
}
.sky{
  background: #bff6fd;
  box-shadow:  5px 5px 5px #97c2c8,
               -5px -5px 5px #e7ffff;
}
.sky:hover{
  background: #bff6fd;
  box-shadow: inset 5px 5px 5px #97c2c8,
              inset -5px -5px 5px #e7ffff;
}
.gre{
  background: #ccffee;
  box-shadow:  5px 5px 5px #a1c9bc,
               -5px -5px 5px #f7ffff;
}
.gre:hover{
  background: #ccffee;
  box-shadow: inset 5px 5px 5px #a1c9bc,
              inset -5px -5px 5px #f7ffff;
}

/*WEB*/


.web-top{
  text-align: center;
}
.web-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top:60px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  padding:0 5%;
  opacity:0.9;
  margin-top: 20px;
}

.content{
  width:48%;
  margin:10px 1% 50px 1% ;
  text-align: center;
  display: flex;
  border-radius: 0px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.site{
  font-size: 28px;
  font-weight:bolder;
  border-radius: 0px;
  background: #ffffff;
  box-shadow:  7px 7px 14px #757575,
               -7px -7px 14px #ffffff;
  display: inline-block;
  padding:10px 15px;
}

.icon{
  width:50%;
  background: #f8f8f7;
  box-shadow:  7px 7px 16px #757574,
              -7px -7px 16px #ffffff;
  margin-right: 10px;
  border-radius: 10%;
}

.text{
  width:50%;
  padding:5px;
}

.text p{
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.8;
  font-family: "Noto Sans JP", sans-serif;
}


/*grocery*/


.groce-top{
  text-align: center;
}

.groce-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}
/*english*/
.en-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.en-top p{
  padding:0 20px;
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}


/*Library*/
.en-top{
  text-align: center;
}

.lib-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.lib-top p{
  padding:0 20px;
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.lib-top{
  text-align: center;
}

.long-contents{
  padding:0 10%;
  opacity: 0.9;
}

.long-content{
  margin:50px auto 100px auto ;
  display: flex;
  text-align: center;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  5px 5px 9px #737373,
               -5px -5px 9px #ffffff;
}

.long-text{
  width:40%;
  padding:10px;
  letter-spacing: 2px;
  opacity: 0.8;
  font-family: "Noto Sans JP", sans-serif;
}

.long-title{
  font-size: 30px;
  font-weight:bolder;
  background: #f8f8f7;
  box-shadow:  7px 7px 16px #757574,
              -7px -7px 16px #ffffff;
  display: inline-block;
  padding:10px 15px;
  border-radius: 0;
}

.long-text p{
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
}

.long-middle{
  width:20%;
  background-color: #DDDDDE;
  position: relative;
}

.long-middle p{
  font-size: 15px;
}

.long-middle h4{
  font-weight: normal;
}

.long-middle p{
  font-size: 20px;
  margin:0;
  padding:10px;
}


.long-up{
  width:100%;
  height:50%;
  border-radius: 0px;
  color:black;
}

.long-down{
  position:absolute;
  bottom: 0;
  left:0;
  width:100%;
  height:50%;
  border-radius: 0px;
  background: #fcfdfd;
  box-shadow:  7px 7px 14px #9c9d9d,
               -7px -7px 14px #ffffff;
}

.long-icon{
  margin:0;
  width: 100%;
  border-radius:50%;
  background: #f7f7f7;
  box-shadow:  9px 9px 16px #888888,
               -9px -9px 16px #ffffff;
}

.icon-area{
  position: relative;
  width:40%;
  background-color: #DDDDDE;
}

.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #00BCD4;
  background: #FFFFFF;
  transition: 0.6s;
  box-shadow:  5px 5px 5px #b5cad6,
               -5px -5px 5px #ebffff;
}

.btn-flat-simple:hover {
  background: #00bcd4;
  color: white;
}

.long-up a{
  font-size: 20px;
  margin-top: 30px;
  padding:5px;
}

.zip{
  font-size: 20px;
}

/* ~414px */
.long_contents{
  width:100%;
  display: none;
}
.long_content{
  width:90%;
  margin:40px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.icon_area{
  width:100%;
  text-align: center;
}
.long_icon{
  width:180px;
  height:180px;
  border-radius:50%;
  background: #f7f7f7;
  box-shadow:  9px 9px 16px #888888,
               -9px -9px 16px #ffffff;
}
.long_under{
  min-height: 180px;
  width:100%;
  display: flex;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  5px 5px 9px #737373,
               -5px -5px 9px #ffffff;
}
.long_left{
  padding:10px;
  width:70%;
}
.long_title{
  margin:6px 0;
  font-weight:bolder;
  background: #f8f8f7;
  box-shadow:  7px 7px 16px #757574,
              -7px -7px 16px #ffffff;
  display: inline-block;
  padding:3px;
  font-size: 12px;
  font-weight: normal;
}
.long_text{
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: normal;
  opacity: 0.8
}
.long_right{
  text-align: center;
  width:30%;
  position: relative;
}
.long_up{
  width:100%;
  height:100px;
  opacity: 0.8;
}
.long_down{
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height:102px;
  background: #fcfdfd;
  box-shadow:  7px 7px 14px #9c9d9d,
               -7px -7px 14px #ffffff;
}
.long_up p{
  font-size:8px;
  margin:0;
  padding:5px;
}
.long_up a{
  font-size: 10px;
  margin-top: 10px;
}

.pip {
  display: inline-block;
  padding: 5px 5px;
  background: #6AD0F9;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  -webkit-transition: .6s;
  transition: .6s;
}
.pip:hover {
  background: #ffffff;
  border: solid 2px #4CB0D8;
  color: #6AD0F9;
  opacity: 0.8;
}





/*Instagram*/


.insta-top{
  text-align: center;
}

.insta-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.insta-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}


/*sightseeing*/


.sight-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.sight-top{
  text-align: center;
}

.sight-contents{
  padding:0 10%;
}

.listsi{
  opacity:0.6;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  text-align: center;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}


/*News*/


.sc-top{
  text-align: center;
}

.sc-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.sc-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  padding: 10px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}



/*cafe*/


.cafe-top{
  text-align: center;
}

.cafe-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.cafe-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.list{
  opacity:0.6;
  margin-top:15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  text-align: center;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}


.cafe-contents{
  padding:0 15%;
}


/*twitter*/


.twitter-top{
  text-align: center;
}

.twitter-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.twitter-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.twitter-contents{
  text-align: center;
}
.twitter-contents h1{
  padding: 100px 0;
  opacity:0.6;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 5px;
  line-height: 50px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}


/*danger*/


.dan-top{
  text-align: center;
}

.dan-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.dan-top p{
  opacity:0.6;
  margin-top:0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.dan-contents{
  display: flex;
  flex-wrap: wrap;
  opacity: 0.9;
  margin-bottom: 20px;
}

.dan-content{
  width:30%;
  margin: 20px 1.65% 40px 1.65%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 5%;
}


.daicon{
  width:70%;
  border-radius: 20%;
  background: linear-gradient(145deg, #ffffff, #dfdce2);
  box-shadow:  5px 5px 10px #a4a1a6,
               -5px -5px 10px #ffffff;
}

.datext{
  width:80%;
  margin: 0 auto;
}

.datext p{
  padding:10px;
  letter-spacing: 1px;
  opacity: 0.8;
  border-radius: 5px;
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(145deg, #fbfbea, #d4d4c5);
  box-shadow:  14px 14px 28px #7f7f76,
              -14px -14px 28px #ffffff;
}

.sdan-content{
  width:80%;
  margin: 20px 10% 40px 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 5%;
}

.sdaicon{
  width:30%;
  border-radius: 20%;
  background: linear-gradient(145deg, #ffffff, #dfdce2);
  box-shadow:  5px 5px 10px #a4a1a6,
               -5px -5px 10px #ffffff;
}

.lv{
  border-radius: 0px;
  background: linear-gradient(145deg, #b790d6, #d9abff);
  box-shadow:  5px 5px 10px #866a9d,
               -5px -5px 10px #ffd6ff;
}

.lv1{
  border-radius: 0px;
  background: linear-gradient(145deg, #ddddae, #ffffcf);
  box-shadow:  5px 5px 10px #a2a27f,
               -5px -5px 10px #ffffff;
}

.lv2{
  border-radius: 0px;
  background: linear-gradient(145deg, #dddd64, #ffff77);
  box-shadow:  5px 5px 10px #a2a249,
               -5px -5px 10px #ffff95;
}

.lv3{
  border-radius: 0px;
  background: linear-gradient(145deg, #e0e001, #ffff01);
  box-shadow:  5px 5px 10px #a4a401,
               -5px -5px 10px #ffff01;
}


/*youtube*/


.you-top{
  text-align: center;
}

.you-top h1{
  font-size: 40px;
  opacity:0.6;
  margin-top: 150px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}

.you-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
}
.you-contents{
  text-align: center;
}
.you-contents h1{
  opacity:0.6;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  line-height: 50px;
  background: #ebebeb;
  box-shadow:  7px 7px 14px #6c6c6c,
               -7px -7px 14px #ffffff;
  padding:100px 0;
}


/*footer*/


.footer{
  margin:5px;
  padding: 20px;
  border-radius: 0px;
  background: #4e4f50;
  box-shadow: inset 5px 5px 11px #1f2020,
              inset -5px -5px 11px #7d7e80;
}

.footer-top h5{
  text-align: center;
  color:#E7E6E7;
  letter-spacing: 2px;
}

.footer-bottom{
  text-align: center;
}

.footer-bottom p{
  color:#E7E6E7;
}

.contact:hover{
  opacity:0.6;
  transition: 1s;
}
.min-none{
  display: none;
}
.min-none p{
  color:gray;
}
.adv{
  text-align: center;
}
.adva{
  text-align: center;
  display: none;
}


.column{
  display: flex;
  flex-direction: column;
}
.column .pops{
  margin-top: 10px;
}
.text a{
  padding:5px;
}
.btn-flat-simples {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #6731FC;
  background: #FFFFFF;
  transition: 0.6s;
  box-shadow:  5px 5px 7px #7e7f95,
               -5px -5px 7px #ffffff;
}

.btn-flat-simples:hover {
  background: #A585FC;
  color: white;
}



/*
