body{
  margin:0;
  font-family: serif;
  background-color:white;
}

.title{
  color:white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header{
  height:80px;
  background-color:black;
  opacity:0.7;
  width:100%;
  display: flex;
}

.header h1{
  line-height: 80px;
  margin:0;
  letter-spacing: 10px;
  padding-left: 20px;
  font-family:"HGP創英角ゴシックUB";
}

span{
  color:red;
}

.top-wrapper{
  background-image: url(https://pbs.twimg.com/media/EZQHcs9XQAAJF4l?format=jpg&name=large);
  background-size: cover;
  text-align: center;
  padding-top:300px;
  padding-bottom:300px;
  color:white;
  font-family:"HGP創英角ゴシックUB";
}

.top-wrapper h1{
  background-color:black;
  opacity:0.8;
}

.top-wrapper p{
  background-color:black;
  opacity:0.8;
}

.menu{
  text-align: center;
}

.ul{
  display: flex;
  flex-wrap: wrap;
  padding:0;
  margin-top: 15px;
  margin-bottom: 0;
}

.li{
  list-style: none;
  width:18%;
  height:40px;
  line-height: 40px;
  margin-right:1%;
  margin-left: 1%;
  opacity:0.7;
  margin-bottom: 15px;
  border-radius: 3px;
  font-weight: bold;
}

.a{
  text-decoration: none;
}

.blue{
  background:#dad0c3;
  box-shadow:6px 6px 7px #817b73,
            -6px -6px 7px #ffffff;
}
.blue:hover{
  background:#dad0c3;
  box-shadow: inset 6px 6px 7px #817b73,
              inset -6px -6px 7px #ffffff;
}
.pur{
  background: linear-gradient(145deg, #d7d8e8, #b5b6c3);
  box-shadow:  6px 6px 7px #65656d,
               -6px -6px 7px #ffffff;
}
.pur:hover{
  background: #c9cad9;
  box-shadow: inset 6px 6px 7px #65656d,
              inset -6px -6px 7px #ffffff;
}
.pink{
  background: #e4f6ed;
  box-shadow:  6px 6px 7px #87918c,
               -6px -6px 7px #ffffff;
}
.pink:hover{
  background: #e4f6ed;
  box-shadow: inset 6px 6px 7px #87918c,
              inset -6px -6px 7px #ffffff;
}
.cherry{
  background: linear-gradient(145deg, #ffffe9, #e2d9c4);
  box-shadow:  6px 6px 7px #948e81,
               -6px -6px 7px #ffffff;
}
.cherry:hover{
  background: #fbf1da;
  box-shadow: inset 6px 6px 7px #948e81,
              inset -6px -6px 7px #ffffff;
}
.red{
  background: linear-gradient(145deg, #f6e7f8, #cfc2d1);
  box-shadow:  6px 6px 7px #736c74,
               -6px -6px 7px #ffffff;
}
.red:hover{
  background: #e6d8e8;
  box-shadow: inset 6px 6px 7px #736c74,
              inset -6px -6px 7px #ffffff;
}
.orenge{
  background: linear-gradient(145deg, #eeffff, #c8ddde);
  box-shadow:  6px 6px 7px #839192,
               -6px -6px 7px #ffffff;
}
.orenge:hover{
  background: #def5f7;
  box-shadow: inset 6px 6px 7px #6f7b7c,
              inset -6px -6px 7px #ffffff;
}
.pi{
  background: linear-gradient(145deg, #ffeeff, #dcc8de);
  box-shadow:  6px 6px 7px #908392,
               -6px -6px 7px #ffffff;
}
.pi:hover{
  background: #f4def7;
  box-shadow: inset 6px 6px 7px #908392,
              inset -6px -6px 7px #ffffff;
}
.yellow{
  background: linear-gradient(145deg, #fbfbea, #d4d4c5);
  box-shadow:  6px 6px 7px #76766e,
               -6px -6px 7px #ffffff;
}
.yellow:hover{
  background: #ebebdb;
  box-shadow: inset 6px 6px 7px #76766e,
              inset -6px -6px 7px #ffffff;
}
.sky{
  background: linear-gradient(145deg, #f1f2ff, #cbcbdc);
  box-shadow:  6px 6px 7px #71717a,
               -6px -6px 7px #ffffff;
}
.sky:hover{
  background: #e1e2f4;
  box-shadow: inset 6px 6px 7px #71717a,
              inset -6px -6px 7px #ffffff;
}
.gre{
  background: linear-gradient(145deg, #fff1f9, #dccbd2);
  box-shadow:  6px 6px 7px #7a7175,
               -6px -6px 7px #ffffff;
}
.gre:hover{
  background: #f4e1e9;
  box-shadow: inset 6px 6px 7px #7a7175,
              inset -6px -6px 7px #ffffff;
}


/*WEB*/


.web-top{
  text-align: center;
}
.web-top h1{
  opacity:0.6;
  margin-bottom: 15px;
  margin-top: 0;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #dad0c3;
  box-shadow:  6px 6px 7px #817b73,
               -6px -6px 7px #ffffff;
}

.web{
  display: flex;
  margin-bottom: 20px;
}

.content{
  width:18%;
  margin-left:1%;
  margin-right:1%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon{
  width:100%;
  border-radius: 20%;
  background: #f8f8f7;
  box-shadow:  7px 7px 16px #757574,
              -7px -7px 16px #ffffff;
}

.text{
  text-align: center;
}

.text p{
  letter-spacing: 1px;
  opacity:0.8;
  font-family: "Noto Sans JP", sans-serif;
  padding: 10px;
  border-radius: 15px;
  background: #f7f4e3;
  box-shadow:  7px 7px 16px #74736b,
              -7px -7px 16px #ffffff;
}


/*grocery*/


.groce-top{
  text-align: center;
}

.groce-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: #e4f6ed;
  box-shadow:  6px 6px 7px #87918c,
               -6px -6px 7px #ffffff;
}

.gicon{
  width:60%;
  border-radius: 20px;
  background: #e4fbf1;
  box-shadow:  7px 7px 8px #6b7671,
               -7px -7px 8px #ffffff;
}

.grocery{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.store-content{
  width:40%;
  padding:20px 2.5%;
  margin:20px 2.5%;
  text-align: center;
  background-color:#A7D998;
  border-radius: 50px;
  background: #f4fbf8;
  box-shadow:  7px 7px 16px #737675,
               -7px -7px 16px #ffffff;
}

.gtext{
  text-align: center;
}

.gtext p{
  opacity:0.8;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 10px;
  letter-spacing: 1px;
  padding: 10px;
  background: #e4fbf1;
  box-shadow:  7px 7px 16px #6b7671,
              -7px -7px 16px #ffffff;
}



/*Library*/


.lib-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
background: linear-gradient(145deg, #ffffe9, #e2d9c4);
box-shadow:  6px 6px 7px #948e81,
             -6px -6px 7px #ffffff;
}

.lib-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 1px;
background: linear-gradient(145deg, #ffffe9, #e2d9c4);
box-shadow:  6px 6px 7px #948e81,
             -6px -6px 7px #ffffff;
}

.lib-top{
  text-align: center;
}

.licon{
  width:60%;
  border-radius: 5%;
  background: #e2d5c6;
  box-shadow:  7px 7px 16px #6a645d,
              -7px -7px 16px #ffffff;
}

.lib-content{
  width:40%;
  padding-top: 20px;
  padding-left:2.5%;
  padding-right:2.5%;
  margin:20px 2.5%;
  text-align: center;
  border-radius: 25px;
  background: #e2dcd5;
  box-shadow:  7px 7px 16px #6a6764,
               -7px -7px 16px #ffffff;
}

.ltext{
  text-align: center;

}

.ltext p{
  opacity:0.8;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  border-radius: 5px;
  padding:10px;
  border-radius: 25px;
background: #e2d5c6;
box-shadow:  7px 7px 16px #6a645d,
             -7px -7px 16px #ffffff;
}

.lib-contents{
  opacity:0.8;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ad{
  text-align: left;
  border: 1px solid black;
  background: #e2d5c6;
  box-shadow:  7px 7px 16px #6a645d,
               -7px -7px 16px #ffffff;
}

.ad li{
  opacity:0.8;
}


/*Instagram*/


.insta-top{
  text-align: center;
}

.insta-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #f6e7f8, #cfc2d1);
  box-shadow:  6px 6px 7px #736c74,
               -6px -6px 7px #ffffff;
}

.insta-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: linear-gradient(145deg, #f6e7f8, #cfc2d1);
  box-shadow:  6px 6px 7px #736c74,
               -6px -6px 7px #ffffff;
}


/*sightseeing*/


.sight-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #eeffff, #c8ddde);
  box-shadow:  6px 6px 7px #839192,
               -6px -6px 7px #ffffff;
}

.sight-top{
  text-align: center;
}

.listsi{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(145deg, #eeffff, #c8ddde);
  box-shadow:  6px 6px 7px #839192,
               -6px -6px 7px #ffffff;
}

.pics{
  display: flex;
}

.siicon{
  width:40%;
  margin:20px 5%;
  border-radius: 5%;
  background: #dceff9;
  box-shadow:  7px 7px 16px #677075,
               -7px -7px 16px #ffffff;
}

.sitext{
  width:80%;
  padding-left:10%;
  padding-right:10%;

}

.si-content{
  width:80%;
  margin:5% 10% 15% 10%;
  opacity: 0.8;
  padding-bottom: 10px;
  border-radius: 25px;
background: #e4f0f7;
box-shadow:  7px 7px 16px #6b7174,
             -7px -7px 16px #ffffff;
}

.sitext p{
  opacity:0.8;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  border-radius:10px;
  padding:10px;
  background: #dceff9;
  box-shadow:  7px 7px 16px #677075,
              -7px -7px 16px #ffffff;
}

.sight-contents{
  margin-bottom: 20px;
}

.cen{
  width:400px;
  text-align: center;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
background: #dceff9;
box-shadow:  7px 7px 16px #677075,
             -7px -7px 16px #ffffff;
}


/*School*/


.sc-top{
  text-align: center;
}

.sc-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #d7d8e8, #b5b6c3);
  box-shadow:  6px 6px 7px #65656d,
               -6px -6px 7px #ffffff;
}

.sc-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  padding: 10px;
  background: linear-gradient(145deg, #d7d8e8, #b5b6c3);
  box-shadow:  6px 6px 7px #65656d,
               -6px -6px 7px #ffffff;
}

.sc-contents{
  display: flex;
  flex-wrap: wrap;
  background-color: #9A98D9;
  opacity: 0.9;
  margin-bottom: 20px;
}

.sc-content{
  width:14.6%;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.scicon{
  width:100%;
  border-radius: 20%;
}

.sctext{
  text-align: center;
}

.sctext p{
  letter-spacing: 1px;
  opacity: 0.8;
  border-radius: 5px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #B9C5E3;
}

.ryojikan{
  display: flex;
  flex-direction: column;
}

/*cafe*/


.cafe-top{
  text-align: center;
}

.cafe-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #ffeeff, #dcc8de);
  box-shadow:  6px 6px 7px #908392,
               -6px -6px 7px #ffffff;
}

.cafe-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: linear-gradient(145deg, #ffeeff, #dcc8de);
  box-shadow:  6px 6px 7px #908392,
               -6px -6px 7px #ffffff;
}

.list{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(145deg, #ffeeff, #dcc8de);
  box-shadow:  6px 6px 7px #908392,
               -6px -6px 7px #ffffff;
}

.ca-icon{
  width:60%;
  border-radius: 20px;
  background: #f8dcf9;
  box-shadow:  7px 7px 8px #756775,
               -7px -7px 8px #ffffff;
}

.cafe-contents{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ca-content{
  width:40%;
  padding-top: 20px;
  padding-left:2.5%;
  padding-right:2.5%;
  margin:20px 2.5%;
  text-align: center;
  border-radius: 50px;
  background: #f5e4f6;
  box-shadow:  7px 7px 16px #787079,
               -7px -7px 16px #ffffff;
}

.ca-text{
  text-align: center;
}

.ca-text p{
  opacity:0.8;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 15px;
  letter-spacing: 1px;
  padding: 10px;
  background: #f8dcf9;
  box-shadow:  7px 7px 16px #7a6c7a,
               -7px -7px 16px #ffffff;
}

.x{
  background: #f8dcf9;
  box-shadow:  7px 7px 16px #7a6c7a,
              -7px -7px 16px #ffffff;
}


/*twitter*/


.twitter-top{
  text-align: center;
}

.twitter-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #f1f2ff, #cbcbdc);
  box-shadow:  6px 6px 7px #71717a,
               -6px -6px 7px #ffffff;
}

.twitter-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: linear-gradient(145deg, #f1f2ff, #cbcbdc);
  box-shadow:  6px 6px 7px #71717a,
               -6px -6px 7px #ffffff;
}

.twitter-contents{
  text-align: center;
}
.twitter-contents h1{
  opacity:0.6;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 5px;
  line-height: 50px;
  background: linear-gradient(145deg, #f1f2ff, #cbcbdc);
  box-shadow:  6px 6px 7px #71717a,
               -6px -6px 7px #ffffff;
}


/*danger*/


.dan-top{
  text-align: center;
}

.dan-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #fbfbea, #d4d4c5);
  box-shadow:  6px 6px 7px #76766e,
               -6px -6px 7px #ffffff;
}


/*youtube*/


.you-top{
  text-align: center;
}

.you-top h1{
  opacity:0.6;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  line-height: 50px;
  display: inline-block;
  padding: 0 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #fff1f9, #dccbd2);
  box-shadow:  6px 6px 7px #7a7175,
               -6px -6px 7px #ffffff;
}

.you-top p{
  opacity:0.6;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  background: linear-gradient(145deg, #fff1f9, #dccbd2);
  box-shadow:  6px 6px 7px #7a7175,
               -6px -6px 7px #ffffff;
}
.you-contents{
  text-align: center;
}
.you-contents h1{
  opacity:0.6;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  line-height: 50px;
  background: linear-gradient(145deg, #fff1f9, #dccbd2);
  box-shadow:  6px 6px 7px #7a7175,
               -6px -6px 7px #ffffff;
}


/*footer*/


.footer{
  background-color: black;
  height:300px;
}

















/*space*/
